.chevron-box{
    position: absolute;
    top: 25px;
    right: -10px;
}

.chevron{
    width: 20px;
    height: 20px;
    background-color: rgba(74, 73, 203, 1);
    border-radius: 50%;
    color: white;
    text-align: center;    
}

.chevron-active{
    transform: rotateY(180deg);
}

.chevron-black {
    background-color: rgba(123, 97, 255, 1)
}