.navigation {
    width: 90px;
    height: 1024px;    
    margin: 20px;
    margin-left: 0;  
    box-shadow: 1px 0px 0px 0px rgba(222, 222, 222, 1);
    display: flex;    
    align-items: center; 
    position: relative; 
    cursor: pointer;
    transition: all 1s ease-out;
}

.nav-black {
    background: rgba(36, 38, 37, 1);
    color: white;
}

.hover {
    width: 263px;    
}

.section_1, .section_2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.section_1 {   
    align-items: center;    
}

.section_2 {
    overflow: hidden;    
}

.badges {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    gap: 2rem;    
}

.dashboard, .revenue,
.notifications, .analitics,
.inventory {
    height: 27px;
    display: flex;
    align-items: center;
}

.badges-btn {
    background-color: white;
    border: 0;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

.badges-black {
    background-color: rgba(36, 38, 37, 1);
    color: rgba(192, 191, 189, 1);
}

.logout{
    text-align: center;
    margin-bottom: 7.5rem;
}

.logout-hover {
    height: 27px;
    display: flex;
    align-items: center;
    margin-bottom: 7.5rem;
}

.darkmode {
    width: 0px;
    display: flex;
    align-items: center;
    gap: 2.2rem;    
    margin-bottom: 3rem;
    overflow: hidden;
    position: absolute;
    left: 33px;
    bottom: 0px;
    transition: all 1s ease-out .1s; 
}

.active-hover {
    width: 100%;    
}

.texts-black {
    color: rgba(192, 191, 189, 1);
}

.grey {
    background: rgba(66, 68, 68, 1);    
}