.header {
    height: 304px;
    border-bottom: 1px solid rgba(16, 14, 15, 1);  
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-top: 120px;
}

p {
    margin: 0;
}