.search-box{
    display: flex;
    /* margin-left: 1.25rem; */    
    position: absolute;
    top: 150px;
}

.search{
    width: 50px;   
    height: 50px; 
    display: flex; 
    position: relative;
    background-color: rgba(245, 245, 245, 1); 
    margin-left: 1.25rem;
    border-radius: 8px; 
    overflow: hidden;
    transition: all 1s ease-out;   
}

.search-icon{
    width: 25px;
    height: 25px;
    background: url(../../icon/search.svg);
    position: absolute; 
    left: 14px; 
    top: 15px;     
}

.search-text{    
    width: 160px;   
    background-color: rgba(245, 245, 245, 1);
    border: 0;
    border-radius: 8px;
    margin-left: 3.25rem; 
    padding-left: 1.25rem;    
}

.search-grey {
    background: rgba(66, 68, 68, 1);
    color: rgba(192, 191, 189, 1);
}

.active {
    width: 235px;    
}