.checkbox {
    visibility: hidden;    
}

.checkbox-group {
    width: 35px;
    height: 20px;
    background: rgba(245, 245, 245, 1);
    border-radius: 100px;
    position: absolute;
    left: 1.8rem;
    bottom: .1rem;
    margin-bottom: 3rem;
    box-shadow: inset 0px 1px 1px rgba(219, 214, 214, 0.5), 0px 1px 0px rgba(219, 214, 214, 0.5);
    transition: all 1s ease-out;    
}

.checkbox-group.hover-group {
    left: 13.5rem;    
}

.checkbox-label {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;   
    position: absolute;
    top: 1.5px;
    left: 1px;
    cursor: pointer;    
    background-image: url(../../icon/sun.svg);
}

.movement {
    left: 15px;
    background-image: url(../../icon/month.svg);
}