.link-btn{
    width: 43px;
    height: 43px;
    background-color: rgba(74, 73, 203, 1);
    color: white;
    border: 1px solid rgba(74, 73, 203, 1);
    border-radius: 8px;
    cursor: pointer;
}

.link-hover {
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

h4{
    margin: 0;
}